<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          background-image: url('../static/images/img.webp');
          background-size: cover; 
          background-position: center; 
          background-repeat: no-repeat; 
          height: 100vh;
        }
      </style>
</head>
<body>
    <p> ## Privacy Policy

        *1. Introduction*
        
        At [Your Website], we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and safeguard your personal information.
        
        *2. Information We Collect*
        
        We collect personal information such as your name, email address, and payment details when you use our website.
        
        *3. How We Use Your Information*
        
        We use your information to provide and improve our services, process transactions, and communicate with you about updates and promotions.
        
        *4. Cookies and Tracking Technologies*
        
        We use cookies and tracking technologies to enhance your experience. You can manage your cookie preferences through your browser settings.
        
        *5. Data Sharing and Disclosure*
        
        We do not share your personal information with third parties except as necessary to provide our services or as required by law.
        
        *6. Data Security*
        
        We implement security measures to protect your personal information from unauthorized access. However, no method of transmission over the internet is completely secure.
        
        *7. User Rights*
        
        You have the right to access, correct, or delete your personal data. To exercise these rights, please contact us at our email section.
        
        *8. Changes to the Privacy Policy*
        
        We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the updated policy on our website.
        
        *9. Contact Information*
        
        If you have any questions about this Privacy Policy, please contact us at feedback page.
    </p>
    <a href="/"> back </a>
    </head>
    <body>
    </body>
    </html>
</body>
</html>
