<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-image: url('img.webp'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat; 
      height: 100vh;
    }
  </style>
</head>
<body>
  

<h1> TERMS & CONDITION </h1>


<b>1. Terms of Service  </b>

Welcome to our smart air Purifier By accessing or using our website, you agree to comply with and be bound by these Terms of Service.<br>

<b>2. Acceptance of Terms </b>

By using our website, you agree to these Terms of Service and our Privacy Policy. If you do not agree, please do not use our website.<br>

<b>3.  User Responsibilities </b>

You are responsible for your use of the website and must adhere to all applicable laws and regulations. You agree not to engage in any illegal or harmful activities.</br>

<b>4.  Account Creation and Security </b>

To use certain features, you may need to create an account. You are responsible for maintaining the confidentiality of your account information and for all activities under your account.</br>

<b>5.  Content Ownership and Use </b>

All content on our website is owned by TIU and may not be used, copied, or distributed without our permission.</br>

<b>6.  Prohibited Activities </b>

You may not use our website for any unlawful purpose or to transmit harmful or disruptive content.</br>

<b>7. Termination of Access </b>

We reserve the right to terminate or suspend your access to the website if you violate these Terms of Service.</br>

<b>8.  Dispute Resolution </b>

Any disputes arising from these Terms of Service will be resolved through binding arbitration in accordance with Indian law. </br>

<b>9.  Limitation of Liability </b>

We are not liable for any damages arising from your use of our website.</br>

<b>10. Changes to Terms </b>

We may update these Terms of Service from time to time. Your continued use of the website constitutes acceptance of any changes.</br></br>

<b>  Contact Information </b></br>
for any queries, please contact us at <a href="contact.html"> here. </a></h4>
 




</body>
</html>